<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mm_springboot.dao.PostDao">
    <resultMap id="BaseResult" type="com.example.mm_springboot.model.Post">
        <result column="post_id" property="post_id" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="context" property="context" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertPost" parameterType="Post" useGeneratedKeys="true" keyProperty="post_id">
        INSERT INTO post(post_id, account, date, context, like_number, comment_number) VALUES(#{post_id}, #{account}, #{date}, #{context}, #{like_number}, #{comment_number});
    </insert>

    <update id="postlike" parameterType="Post" useGeneratedKeys="true" keyProperty="post_id">
        UPDATE post SET like_number = like_number + 1 WHERE post_id = #{post_id}
    </update>

    <update id="postunlike" parameterType="Post" useGeneratedKeys="true" keyProperty="post_id">
        UPDATE post SET like_number = like_number - 1 WHERE post_id = #{post_id}
    </update>

    <select id="receive" resultType="Post">
        SELECT u.name,u.mood,p.* FROM user u, post p WHERE p.account = u.account AND u.planet = #{planet} ORDER BY p.date DESC;
    </select>

    <select id="postHome" resultType="Post">
        SELECT u.name,p.* FROM user u, post p WHERE p.account = u.account AND p.account = #{account} ORDER BY p.date DESC;
    </select>

    <update id="postAddcomment" parameterType="Post" useGeneratedKeys="true" keyProperty="post_id">
        UPDATE post SET comment_number = comment_number + 1 WHERE post_id = #{post_id}
    </update>

    <select id="postSearch" resultType="Post">
        SELECT u.name,p.* FROM user u, post p WHERE p.context LIKE '%${context}%' AND p.account = u.account ORDER BY p.date DESC;
    </select>
</mapper>