<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mm_springboot.dao.UserDao">
    <resultMap id="BaseResult" type="com.example.mm_springboot.model.User">
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryUser"  resultMap="BaseResult">
        SELECT * FROM user WHERE account = #{account} AND password = #{password};
    </select>
    <select id="queryPlanet"  resultMap="BaseResult">
        SELECT * FROM user WHERE account = #{account};
    </select>
    <select id="queryuserInfo"  resultMap="BaseResult">
        SELECT * FROM user WHERE account = #{account};
    </select>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="account">
        INSERT INTO user(account, password, name, planet, address, age,Avatar, clock, clocktime, score) VALUES(#{account}, #{password}, #{name}, #{planet}, #{address}, #{age}, #{avatar}, 0, 0, 0);
    </insert>
    <update id="updateUser" parameterType="User" useGeneratedKeys="true">
        UPDATE user SET name = #{name}, address = #{address}, planet = #{planet},Avatar = #{visitPath} WHERE account = #{account};
    </update>
    <update id="updateUsers" parameterType="User" useGeneratedKeys="true">
        UPDATE user SET name = #{name}, address = #{address}, planet = #{planet} WHERE account = #{account};
    </update>
    <select id="isClock"  resultMap="BaseResult">
        SELECT * FROM user WHERE account = #{account};
    </select>
    <update id="updateClock" parameterType="User" useGeneratedKeys="true">
        UPDATE user SET clock = 1, clocktime = clocktime + 1 WHERE account = #{account};
    </update>
    <update id="updateScore" parameterType="User" useGeneratedKeys="true">
        UPDATE user SET score = #{score} WHERE account = #{account};
    </update>
    <select id="queryScore"  resultMap="BaseResult">
        SELECT score FROM user WHERE account = #{account};
    </select>
</mapper>